<a href="https://colab.research.google.com/github/supriyakarande/Machine-Learning/blob/dev/Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
a=b=c=1
print(a,b,c)

1 1 1

In [12]:
a,b,c=1,2,"Sups"
print(a,b,c)

1 2 Sups

Python Standard Data Types are:
numbers,string,list,tuple,dictionary

In [13]:
del a,b
print(c)

Sups

python supports tnt,long,float and complex numerical types

In [14]:
str="Hello World"
print(str)
print(str[0])
print(len(str))
print(str[0:5])
print(str[2:5])
print(str[-6:-2])
print(str[-2:-6]) # getiing empty string as characters are read from roght to left but written from left to right
print(str[2:])
print(str*2)
#print(str+1) it will give error message
print(str[-1:])
print(str+ "\tBye")

Hello World
H
11
Hello
llo
 Wor

llo World
Hello WorldHello World
d
Hello World	Bye

Python List:
Lists are the most versatile of Python's compound data types. A list contains items separated by commas and enclosed within square brackets ([]). To some extent, lists are similar to arrays in C. One difference between them is that all the items belonging to a list can be of different data type.

The values stored in a list can be accessed using the slice operator ([ ] and [:]) with indexes starting at 0 in the beginning of the list and working their way to end -1. The plus (+) sign is the list concatenation operator, and the asterisk (*) is the repetition operator.

In [22]:
list1=["Supriya",123,"Karande",56.70]
print(list1)
print(list1[0])
list2=["Jalindar",201]
print(list1)
print(list1+list2)
list1.insert(2,"sups")
print(list1)
print(list1*3)

['Supriya', 123, 'Karande', 56.7]
Supriya
['Supriya', 123, 'Karande', 56.7]
['Supriya', 123, 'Karande', 56.7, 'Jalindar', 201]
['Supriya', 123, 'sups', 'Karande', 56.7]
['Supriya', 123, 'sups', 'Karande', 56.7, 'Supriya', 123, 'sups', 'Karande', 56.7, 'Supriya', 123, 'sups', 'Karande', 56.7]

Python TUPLE
A tuple is another sequence data type that is similar to the list. A tuple consists of a number of values separated by commas. Unlike lists, however, tuples are enclosed within parentheses.

The main differences between lists and tuples are: Lists are enclosed in brackets ( [ ] ) and their elements and size can be changed, while tuples are enclosed in parentheses ( ( ) ) and cannot be updated. Tuples can be thought of as read-only lists.

In [23]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print(tuple)               # Prints the complete tuple
print(tuple[0])            # Prints first element of the tuple
print(tuple[1:3])          # Prints elements of the tuple starting from 2nd till 3rd 
print(tuple[2:])           # Prints elements of the tuple starting from 3rd element
print(tinytuple * 2)       # Prints the contents of the tuple twice
print(tuple + tinytuple)   # Prints concatenated tupl

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

Python Dictionary
Python's dictionaries are kind of hash table type. They work like associative arrays or hashes found in Perl and consist of key-value pairs. A dictionary key can be almost any Python type, but are usually numbers or strings. Values, on the other hand, can be any arbitrary Python object.

Dictionaries are enclosed by curly braces ({ }) and values can be assigned and accessed using square braces ([]).

In [25]:
x=10
list
list(tinytuple)

TypeError: ignored

In [28]:
var1 = 100
if var1:
   print( "1 - Got a true expression value")
   print( var1)

var2 = 0
if var2:
   print("2 - Got a true expression value")
   print(var2)
print("Good bye!")

1 - Got a true expression value
100
Good bye!

Python Loops:
1) while Loop

In [32]:
count=0
while(count<=9):
  print("The count is ",count)
  count=count+1

The count is  0
The count is  1
The count is  2
The count is  3
The count is  4
The count is  5
The count is  6
The count is  7
The count is  8
The count is  9

In [34]:
for letter in 'Python':
  print(letter)

P
y
t
h
o
n

In [37]:
a=['sups','aru','jalu']
for i in a:
  print(i)

for i in range(len(a)):
  print(a[i])

sups
aru
jalu
sups
aru
jalu

In [55]:
for num in range(10,20):     #to iterate between 10 to 20
   for i in range(2,num):    #to iterate on the factors of the number
      if num%i == 0:         #to determine the first factor
         j=num/i             #to calculate the second factor
         print('%d equals %d * %d' % (num,i,j))
         break                 #to move to the next number, the #first FOR
      else:                  # else part of the loop
         print(num,'is a prime number')
         break

10 equals 2 * 5
11 is a prime number
12 equals 2 * 6
13 is a prime number
14 equals 2 * 7
15 is a prime number
16 equals 2 * 8
17 is a prime number
18 equals 2 * 9
19 is a prime number

In [56]:
lower = int(input("Enter lower range: "))  
upper = int(input("Enter upper range: "))  
  
for num in range(lower,upper + 1):  
   if num > 1:  
       for i in range(2,num):  
           if (num % i) == 0:  
               break  
       else:  
           print(num)

Enter lower range: 2
Enter upper range: 100
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

Python Pass keyword:
In Python, the pass keyword is used to execute nothing; it means, when we don't want to execute code, the pass can be used to execute empty. It is the same as the name refers to. It just makes the control to pass by without executing any code. If we want to bypass any code pass statement can be used.

It is beneficial when a statement is required syntactically, but we want we don't want to execute or execute it later. The difference between the comments and pass is that, comments are entirely ignored by the Python interpreter, where the pass statement is not ignored.

In [1]:
values = {'P', 'y', 't', 'h','o','n'}  
for val in values:  
    pass

In [2]:
    for i in [1,2,3,4,5]:   
        if(i==4):  
            pass  
            print("This is pass block",i)  
        print(i)

1
2
3
This is pass block 4
4
5

Python strings:
We can create a string by enclosing the characters in single-quotes or double- quotes. Python also provides triple-quotes to represent the string, but it is generally used for multiline string or docstrings.

In [3]:
    #Using single quotes  
    str1 = 'Hello Python'  
    print(str1)  
    #Using double quotes  
    str2 = "Hello Python"  
    print(str2)  
      
    #Using triple quotes  
    str3 = '''''Triple quotes are generally used for  
        represent the multiline or 
        docstring'''   
    print(str3)

Hello Python
Hello Python
''Triple quotes are generally used for
    represent the multiline or
    docstring

In [4]:
str = "JAVATPOINT"  
# Start Oth index to end  
print(str[0:])  
# Starts 1th index to 4th index  
print(str[1:5])  
# Starts 2nd index to 3rd index  
print(str[2:4])  
# Starts 0th to 2nd index  
print(str[:3])  
#Starts 4th to 6th index  
print(str[4:7])

JAVATPOINT
AVAT
VA
JAV
TPO

In [11]:
    str = 'JAVATPOINT'  
    print(list(str))
    print(str[-1])  
    print(str[-3])  
    print(str[-2:])  
    print(str[-4:-1])  
    print(str[-7:-2])  
    print(str[-1:-6])
    print(str[-6:-1])
    # Reversing the given string  
    print(str[::-1])  
  
   # print(str[-12])  #Error out of bounds

['J', 'A', 'V', 'A', 'T', 'P', 'O', 'I', 'N', 'T']
T
I
NT
OIN
ATPOI

TPOIN
TNIOPTAVAJ

Updating the content of the strings is as easy as assigning it to a new string. The string object doesn't support item assignment i.e., A string can only be replaced with new string since its content cannot be partially replaced. **Strings are immutable **in Python.

In [14]:
str1="Welcome to my first Python Tutorial"

str2=str1.split()
print(str2)

['Welcome', 'to', 'my', 'first', 'Python', 'Tutorial']

In [17]:
str3=str1.split('Welcome')
print(str3)
str4=str1.split('first')
print(str4)

['', ' to my first Python Tutorial']
['Welcome to my ', ' Python Tutorial']

In [22]:
#Join method ofstring can be used to concat str with iterable objects as list,tuple,dictionary
str="->"
list1=['Java','Python','.net','C']
str2=str.join(list1)
print(str2)
str1=" "
str3=str1.join(list1)
print(str3)

Java->Python->.net->C
Java Python .net C

In [34]:
str="ab bc cba"
c=str.count('b',1,2)
print(c)

1